<div class="w-full mt-4 mx-auto bg-col_bas_ave shadow-lg rounded-lg">
  <div class="px-6 py-5">
    <div class="flex items-start">
      <div class="flex-grow truncate">
        <div class="w-full sm:flex justify-between items-center mb-3">
          <h2 class="text-1xl leading-snug font-extrabold text-col_con_inv truncate mb-1 sm:mb-0">{{ name }}</h2>
        </div>
        <a href="" class="bg-col_attn px-2 py-0.5 font-semibold text-sm rounded-lg text-col_con">Посмотреть</a>
        <div class="flex items-end justify-between whitespace-normal mt-4">
          <div class="max-w-md text-indigo-100">
            <p class="mb-2">{{ description }}:</p>
          </div>
        </div>
        <div class="flex items-center ml-4">
          <span class="text-2xl font-bold text-col_con">{{ data }}</span>
        </div>
      </div>
      <div class="flex flex-col mt-auto gap-[10px]">

        </button>
      </div>
    </div>
  </div>
</div>
