<div class="text-color_text bg-amber-600">
  <div class="" style="max-height: 18rem">
    <div class="">
      {% for word in all_words %}
      <span class="">
        {{ word }}
      </span>
      {% endfor %}
      <!-- Дублирование контента для бесшовной анимации -->
      {% for word in all_words %}
      <span class=""> {{ word }} </span>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Дополнительная информация (опционально) -->
<div class="">
  <small class="">Всего слов: {{ all_words|length }}</small>
</div>

