<!-- Menu -->

{% load static %}
<div class="hidden flex-row items-center sm:flex sm:ml-4 lg:ml-12 xl:ml-22">
  {% for m in menu %} {% if request.resolver_match.url_name == m.url_name%}
  <div class="flex flex-row items-center md:mx-4">
    <img class="w-4 h-4" src="{% static m.img_name %}" alt="" />
    <a
      hx-get="{% url m.url_name %}"
      hx-target="#main-content"
      hx-push-url="true"
      class="text-col_suc cursor-pointer border-b border-col_suc mx-2 hover:opacity-80 duration-300"
      >{{m.name}}</a
    >
  </div>
  {% else %}
  <div class="flex flex-row items-center md:mx-4">
    <img class="w-4 h-4" src="{% static m.img_name %}" alt="" />
    <a
      hx-get="{% url m.url_name %}"
      hx-target="#main-content"
      hx-push-url="true"
      class="text-col_suc cursor-pointer border-col_suc mx-2 hover:opacity-80 duration-300"
      >{{m.name}}</a
    >
  </div>
  {% endif %} {% endfor %}
</div>
