{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load heroicons %}

{% block content %}
  <div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-gradient-to-br from-col_bas_hig to-col_bas_mai shadow-lg p-8 rounded-xl">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-col_con">Войти</h2>
        <p class="mt-2 text-center text-sm text-col_suc_ave">
          Или
          <a href="{{ signup_url }}" class="font-medium text-col_bright_2 hover:text-col_bright_3">создать новый</a>
        </p>
      </div>

      <form class="mt-8 space-y-6" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        <!-- Error -->
        {% if form.errors %}
          <div class="bg-col_con_inv border-l-4 border-col_attn p-4 mb-4">
            <div class="flex">
              <div class="ml-3">
                <p class="text-sm text-col_attn">
                  {% trans "Your username and password didn't match. Please try again." %}
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        <!-- Input -->
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="my-6">
            {% include 'components/input/input.html#input_label' with label='Почта' name='email' type='email' required=True placeholder='****@mail.ru' %}
          </div>
          <div class="my-6">
            {% include 'components/input/input.html#input_label' with label='Введите пароль' name='password' type='password' required=True placeholder='Пароль' %}
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            {% include 'components/button/button.html#check_button' with label='Запомнить меня?' %}
          </div>
          <div class="text-sm">
            <a href="{% url 'account_reset_password' %}" class="font-medium text-col_bright_2 hover:text-col_bright_3">Забыл пароль</a>
          </div>
        </div>

        <div>
          {% include 'components/button/button.html#button' with type='submit' name='Войти с почтой' %}
        </div>
      </form>

      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-col_con_inv"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="px-2 bg-col_con_inv text-col_con">Или войти с</span>
            </div>
          </div>
          <div class="mt-6 rounded-lg border border-col_bright_1">
            <div class="flex flex-row justify-center items-center py-4 text-col_con font-bold text-xl">
              <div class="bg-col_bright_1/30 rounded-full p-2 mr-4">
                {% heroicon_outline 'arrow-left-end-on-rectangle' size=20 class='text-col_bright_1' %}
              </div>
              {% include 'socialaccount/snippets/provider_list.html' with process='login' %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
