<nav class="flex justify-center mt-8">
  <ul class="flex items-center space-x-1">
    {% if page_obj.has_previous %}
    <li>
      <a href="?page=1{% if current_status %}
            
                
                &status={{ current_status }}
          {% endif %}"
        class="px-3 py-2 ml-0 leading-tight text-col_con_inv bg-col_nit_con  rounded-l-md hover:bg-col_nit hover:text-gray-700">
        &laquo;&laquo;
      </a>
    </li>
    <li>
      <a href="?page={{ page_obj.previous_page_number }}{% if current_status %}
            
                
                &status={{ current_status }}
          {% endif %}"
        class="px-3 py-2 leading-tight text-col_con_inv bg-col_nit_con  hover:bg-col_nit hover:text-gray-700">
        &laquo;
      </a>
    </li>
    {% else %}
    <li>
      <span
        class="px-3 py-2 ml-0 leading-tight text-col_con_inv bg-col_nit_con  rounded-l-md cursor-not-allowed">&laquo;&laquo;</span>
    </li>
    <li>
      <span class="px-3 py-2 leading-tight text-col_con_inv bg-col_nit_con  cursor-not-allowed">&laquo;</span>
    </li>
    {% endif %}

    <li>
      <span class="px-3 py-2 text-col_suc_ave  bg-col_nit_con hover:bg-col_nit">Страница
        {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}{% if current_status %}
            
                
                &status={{ current_status }}
          {% endif %}"
        class="px-3 py-2 leading-tight text-col_con_inv bg-col_nit_con  hover:bg-col_nit hover:text-gray-700">
        &raquo;
      </a>
    </li>
    <li>
      <a href="?page={{ page_obj.paginator.num_pages }}{% if current_status %}
            
                
                &status={{ current_status }}
          {% endif %}"
        class="px-3 py-2 leading-tight text-col_con_inv bg-col_nit_con  rounded-r-md hover:bg-col_nit hover:text-gray-700">
        &raquo;&raquo;
      </a>
    </li>
    {% else %}
    <li>
      <span class="px-3 py-2 leading-tight text-col_con_inv bg-col_nit_con  cursor-not-allowed">&raquo;</span>
    </li>
    <li>
      <span
        class="px-3 py-2 leading-tight text-col_con_inv bg-col_nit_con  rounded-r-md cursor-not-allowed">&raquo;&raquo;</span>
    </li>
    {% endif %}
  </ul>
</nav>
