<div class="menu_container">
    <div class="menu">
        {% for m in menu %}
            <div class="menu_item">
                {% if select == m.title %}
                <div class="select">
                    <a href="{% url m.url_name %}">{{m.title}}</a>
                </div>
                {% else %}
                    <a href="{% url m.url_name %}">{{m.title}}</a>
                {% endif %}
                
            </div>
        {% endfor %}

        {% if request.user.is_authenticated %}
        <li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
        <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
        {% endif %}
     </div>
</div>
