<div class="info_container">
    <div class="info">
            
        {% if line_off_on == 'on' %}
            <p>Количества слов за день <div class="line">{{number.number_words}}</div></p>
            <p>Осталось выучить за день <div class="line">{{counter_word}}</div></p>
            <p>Всего - <div class="line">{{total_words}}</div></p>
            <p>Выучено - <div class="line">{{total}}</div></p>

        {% else %}
            <p>Количества слов за день <div class="line">0</div></p>
            <p>Осталось выучить за день <div class="line">0</div></p>
            <p>Всего - <div class="line">0</div></p>
            <p>Выучено - <div class="line">0</div></p>

        {% endif %}

    
    </div>
</div>
