<div
  id="answering"
  class="hidden my-5 max-w-4xl mx-auto bg-col_bas_ave mt-10 border rounded-lg p-6 text-center bg-amber-400"
>
  <div class="mb-6">
    <div class="bg-col_bas_ave rounded-lg p-4">
      <h3 class="text-xl font-semibold text-col_attn">Вы угадали!</h3>
    </div>
  </div>
  <div>
    <h4 class="text-col_suc text-xl font-medium">
      {{ data_for_read.word_en }}
    </h4>
    <h4 class="text-col_con_inv text-lg font-medium">
      {{ data_for_read.transcription}}
    </h4>
    <h4 class="text-col_con text-lg font-medium">
      {{ data_for_read.word_ru }}
    </h4>
  </div>
</div>
