<main x-data="{
    counter: 0,
    correctWordEn: '{{ correct_word|escapejs }}',
    inputValueEn: '',

    get answerInputEn() {
      if (this.inputValueEn === '') return 'neutral';
      if (this.inputValueEn === this.correctWordEn) return 'yes';
      if (this.correctWordEn.startsWith(this.inputValueEn)) return 'neutral';
      return 'no';
    },
      correctWordRu: '{{ correct_word.word_ru.split.0|cut:','|escapejs }}',
      inputValueRu: '',

    get answerInputRu() {
      if (this.inputValueRu === '') return 'neutral';
      if (this.inputValueRu === this.correctWordRu) return 'yes';
      if (this.correctWordRu.startsWith(this.inputValueRu)) return 'neutral';
      return 'no';
    }
  }" 

  x-show="answer === 'yes' && read === false" 

  x-effect="
      if (answer === 'yes') {
        $nextTick(() => $refs.inputEn.focus())
      }
      if (answerInputEn === 'yes') {
        $nextTick(() => $refs.inputRu.focus())
      }
      if (counter === {{user_settings.number_write}} ){
          answer = 'neutrual';
          read = true;
      }
  " 

  class="w-4xl h-[400px] mx-auto bg-col_bas_mai rounded-lg p-6 text-center 
          flex-col justify-between border border-col_con/15 fill-white 
          drop-shadow-xl/25 z-0">
  <div class="flex flex-col justify-center h-full">
    <div>
      <p class="text-col_con text-2xl">Введите слово</p>
      <c-pages.game.counter />
    </div>
    <span class="flex flex-col justify-center h-full">
      <c-pages.game.input inputRef="inputEn" placeholder="{{correct_word}}" model="inputValueEn"
        answerInput="answerInputEn" />
      <c-pages.game.input inputRef="inputRu" placeholder="{{correct_word.word_ru.split.0|cut:','}}" model="inputValueRu"
        answerInput="answerInputRu" />
    </span>
  </div>
  <c-pages.game.label />
</main>