asgiref==3.8.1
beautifulsoup4==4.13.4
Django==4.2.23
django-browser-reload==1.18.0
django-debug-toolbar==6.1.0
django-extensions==4.1
django-template-partials==25.3
pillow==11.2.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
tornado==6.5.1
typing_extensions==4.14.0
tzdata==2025.2
