{% load static %}
<header>
  <div class="header-container">
    <a class="logo" href="{% url 'home' %}">
      <p class="logo-1">Words</p>
      <p class="logo-2">1000</p>
    </a>
    <button class="">
      <span class=""></span>
    </button>
    <div class="menu">
        {% for m in menu %} {% if request.resolver_match.url_name == m.url_name%}
        <a class="nav-link-active" href="{% url m.url_name%}">{{ m.name }}</a>
        {% else %}
        <a class="nav-link" href="{% url m.url_name %}">{{ m.name }}</a>
        {% endif %} {% endfor %}

      <div class="user-menu">
        <a class="show-link" href="#">Пользователь</a>
        <div class="">
          {% if request.user.is_authenticated %}
          <a class="" href="{% url user_menu.0.url_name %}">{{ user_menu.0.name }}</a>
          {% else %}
          <a class="" href="{% url user_menu.1.url_name %}">{{ user_menu.1.name}}</a>
          <a class="" href="{% url user_menu.2.url_name %}">{{ user_menu.2.name }}</a>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</header>

<script>
  window.addEventListener("scroll", () => {
    const header = document.querySelector("header");
    if (window.scrollY > 50) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  });
</script>
