<!-- Drop down menu -->

{% load static %}

<!-- Parent block -->
<div class="hidden mx-auto items-center justify-center md:flex relative">
    <div class="py-2 cursor-pointer relative">
        <button id="button-header-menu"
            class="flex flex-row px-4 rounded-full border border-col_con_inv/15
             lg:rounded-lg md:h-10 cursor-pointer items-center hover:opacity-80">
            <span class="hidden h-10 space-x-5 items-center justify-between lg:flex text-col_con font-bold">
                Пользователь
            </span>

            <img class="min-w-4 h-4 lg:ml-4" src="{% static 'icons/user.png' %}" alt="" />
        </button>
        <!-- Menu -->
        <div data-menu="false" id="drop-down-menu"
            class="invisible bg-col_bas_mai z-50 mt-3.5 lg:mt-5 text-xl lg:text-lg pl-5 flex flex-col w-full
            shadow-xl lg:border lg:border-col_con_inv/15 rounded-lg absolute">
            {% if request.user.is_authenticated %}
                <a hx-get="{% url user_menu.0.url_name %}" hx-target="#main-content" hx-push-url="true"
                    class="font-semibold w-full text-col_con hover:opacity-80 py-3">
                    {{ user_menu.0.name }}
                </a>
                {% else %}

                <a hx-get="{% url user_menu.1.url_name %}" hx-target="#main-content" hx-push-url="true"
                    class="font-semibold w-full text-col_con hover:opacity-80 py-3">
                        {{ user_menu.1.name }}
                </a>

                <a hx-get="{% url user_menu.2.url_name %}" hx-target="#main-content" hx-push-url="true"
                    class="font-semibold w-full text-col_con hover:opacity-80 py-3">
                    {{ user_menu.2.name }}</a>
            {% endif %}
        </div>
    </div>
</div>
