<!-- Header -->

{% load static %}
<header
  class="bg-col_bas_ave fixed flex items-center border-b border-base-content/15 top-0 left-0 w-full font-roboto z-50 max-h-16">
  <main class="w-full mx-4 md:mx-12 flex flex-row justify-between items-center">
    <div class="flex flex-row justify-between items-center">
      {% include 'includes/header/logo.html' %}
      <nav class="flex flex-row">
        {% include 'includes/header/menu.html' %}
        {% include 'includes/header/dropdown_menu.html' %}
      </nav>
    </div>

    {% include 'includes/header/theme_toggle.html' %}

    <!-- burger -->
    <img class="sm:hidden w-6 h-6" id="burger" src="{% static 'icons/menu.png' %}" alt="" />
  </main>
</header>
