{% extends 'core/base.html' %} {% block content %} {% load bootstrap5 %}

<div class="container bg-body-tertiary my-5 border rounded-2 p-3">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Регистрация в системе</h2>
          <form method="post">
            {% csrf_token %} {% bootstrap_form form %}
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-secondary btn-lg mt-3">Сохранить</button>
            </div>
          </form>

        <div class="alert-info">Так же вы можете сбросить весь прогресс словаря и начать свой путь заново...</div>
        <div class="resetting_dictionaries">
          <a class="nav-link text-danger" href="{% url 'resettings_dictionaries' %}">Сброс прогресса словаря</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}