{% load static %}

<header>
  <div class="nav">
    <a href="{% url 'home' %}" class="logo"><h2>WORDS1000</h2></a>

    
    {% for  m in  data%}
    <a class="link" href="">{}</a>
    {% endfor %}

    {% for m in data.menu %}
        <a style="font-weight: bold" href="{% url m.url_name %}" class="dropdown-item">{{ m.title }}</a>
        <a href="{% url m.url_name %}" class="dropdown-item">{{ m.title }}</a>
    {% endfor %} {% if request.user.is_authenticated %}
      <a href="{% url 'home' %}" class="user_name">{{ user.username }}</a>
      <a href=" {% url 'logout' %} ">Выход</a>
    {% else %}
      <div class="block_user">
        <a href=" {% url 'register' %}">Регистрация</a>
        <a href=" {% url 'login' %}">Войти</a>
      </div>
    {% endif %}
  </div>
  <img class="menu" src="{% static 'words/icons/menu.png' %}" alt="">
</header>
