.home_block_info {
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-color);
  margin-bottom: 20px;
}

.home_block_info h5 {
  color: var(--master-color);
  font-size: 18px;
  margin-bottom: 20px;
}

.block_card {
	display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}

.block_circle {
    position: relative;
    left: 0px;
    top: 0px;
    max-width: 29em;
    min-width: 29em;
}

.circle {
	opacity: 100%;
	display: inline-block;
    background: var(--master-color);
	border: 1px solid var(--master-color);
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.circle_red {
	opacity: 100%;
	display: inline-block;
	background: var(--mark-color);
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.info_list {
	display: flex;
	color: var(--text-color);
	padding-left: 50px;
	padding-top: 5px;
}
.list_circle_1_2 {
  color: #4b4c5e;
	display: flex;
  width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
}

.list_circle_1_2 p {
	color: var(--text-color);
	display: inline-block;
}

.circle_1 {
	opacity: 100%;
	display: inline-block;
	background: var(--master-color);
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: 5px;
  margin-right: 8px;
}

.circle_2 {
	opacity: 100%;
	display: inline-block;
	background: var(--mark-color);
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: 5px;
  margin-right: 8px;
}

.mb-3 input {
	background: none;
	border: none;
}

.words_translate_ru {
	color: var(--text-color);
	margin-top: 90px;
	font-size: 22px;
}

.circle_line_1 {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.circle_line_2 {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
