
@import url("reset.css"); 
@import url("nav.css");
@import url("block_card.css");
@import url("info_block.css");
@import url("chart_home.css");
@import url("about_home.css");
@import url("spinner_home.css");
@import url("footer.css");
@import url("settings.css");
@import url("learn_new_words.css");
@import url("progressbar.css");
@import url("register_login.css");
@import url("result.css");
@import url("revise_learned.css");


.root_container {
	display: flex;
	justify-content: center;
}

.container {
    width: 80%;
    height: 100%;
}

.block_window {
	margin-top: 120px;
}

/* Start Form correct word */
.form_correct_word {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.form_correct_word button {
    background: var(--button-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 400px;
    transition: .5s;
}

.form_correct_word button:hover {
    background: var(--hover-color);
}
