.login_form{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 200px;
  margin-bottom: 200px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

.login_form_container form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.button_login {
  background: #1fc2d8;
  border-color: #1fc2d8;
  border: none;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  width: 100%;
  transition: .5s;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button_login button:hover {
    background: #2bc5d4;
}

.login_form_input {
	display: block;
	width: 400px;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
	line-height: 1.5;
	color: #52565b;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: 0px;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    

}

.form_label_login {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form_error_login {
	display: block;
	width: 400px;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #52565b;
	/* background-color: #fff; */
	background-clip: padding-box;
	appearance: none;
	border-radius: 0px;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}


.errorlist {
    list-style-type: none;
    color: red;
}

