<!-- Drop down menu -->

{% load static %}

<!-- Parent block -->
<div x-data="{ open : false }" class="hidden h-screen mx-auto items-center justify-center md:flex">
  <div class="py-2 cursor-pointer relative">
    <div @click="open = !open"
      class="flex flex-row px-4 bg-col_nit_con rounded-full lg:rounded-none md:h-10 cursor-pointer items-center hover:opacity-80">
      <span class="hidden h-10 space-x-5 items-center justify-between lg:flex text-col_con font-bold">
        Пользователь
      </span>

      <img class="min-w-4 h-4 lg:ml-4" src="{% static 'icons/user.png' %}" alt="" />
    </div>
    <!-- Menu -->
    <div x-show="open" class="z-50 mt-2.5 lg:mt-0 text-xl lg:text-lg flex flex-col w-full text-col_bas_ave shadow-xl absolute">
      {% if request.user.is_authenticated %}
      <a class="py-3 lg:pl-4 font-semibold lg:bg-col_suc_mai w-full text-col_con hover:text-col_suc">
        {{ user_menu.0.name }}
      </a>
      {% else %}

      <a class="py-3 lg:pl-4 font-semibold lg:bg-col_suc_mai w-full text-col_con hover:text-col_suc">
        {{ user_menu.1.name }}
      </a>

      <a class="py-3 lg:pl-4 font-semibold lg:bg-col_suc_mai w-full text-col_con hover:text-col_suc">
        {{ user_menu.2.name }}
      </a>
      {% endif %}

      <a class="py-3 lg:pl-4 font-semibold lg:bg-col_suc_mai w-full text-col_con hover:text-col_suc">
        Wednesday
      </a>

      <a class="py-3 lg:pl-4 font-semibold lg:bg-col_suc_mai w-full text-col_con hover:text-col_suc">
        Thursday
      </a>

      <a class="py-3 lg:pl-4 font-semibold lg:bg-col_suc_mai w-full text-col_con hover:text-col_suc">
        Friday
      </a>

      <a class="py-3 lg:pl-4 font-semibold lg:bg-col_suc_mai w-full text-col_con hover:text-col_suc">
        Saturday
      </a>
    </div>
  </div>
</div>