<!-- Drop down menu -->

{% load static %}

<!-- Parent block -->
<div
    x-data="{ open : false }"
    class="hidden mx-auto items-center justify-center md:flex"
>
    <div class="py-2 cursor-pointer relative">
        <button
            @click="open = ! open"
            class="flex flex-row px-4 bg-col_suc_mai rounded-full lg:rounded-none md:h-10 cursor-pointer items-center hover:opacity-80"
        >
            <span
                class="hidden h-10 space-x-5 items-center justify-between lg:flex text-col_con font-bold"
            >
                Пользователь
            </span>

            <img
                class="min-w-4 h-4 lg:ml-4"
                src="{% static 'icons/user.png' %}"
                alt=""
            />
        </button>
        <!-- Menu -->
        <div
            x-show="open"
            @click.outside="open = false"
            class="z-50 mt-2.5 lg:mt-0 text-xl lg:text-lg flex flex-col w-full shadow-xl absolute"
        >
            {% if request.user.is_authenticated %}
            <a
                hx-get="{% url user_menu.0.url_name.app|add:':'|add:user_menu.0.url_name.url %}"
                hx-target="#main-content"
                hx-push-url="true"
                class="py-3 lg:pl-4 font-semibold lg:bg-col_nit_con w-full text-col_con hover:opacity-80"
            >
                {{ user_menu.0.name }}
            </a>
            {% else %}

            <a
                hx-get="{% url user_menu.1.url_name.app|add:':'|add:user_menu.1.url_name.url %}"
                hx-target="#main-content"
                hx-push-url="true"
                class="py-3 lg:pl-4 font-semibold lg:bg-col_nit_con w-full text-col_con hover:opacity-80"
            >
                {{ user_menu.1.name }}
            </a>

            <a
                hx-get="{% url user_menu.2.url_name.app|add:':'|add:user_menu.2.url_name.url %}"
                hx-target="#main-content"
                hx-push-url="true"
                class="py-3 lg:pl-4 font-semibold lg:bg-col_nit_con w-full text-col_con hover:opacity-80"
            >
                {{ user_menu.2.name }}
            </a>
            {% endif %}

            <a
                class="py-3 lg:pl-4 font-semibold lg:bg-col_nit_con w-full text-col_con hover:opacity-80"
            >
                Wednesday
            </a>

            <a
                class="py-3 lg:pl-4 font-semibold lg:bg-col_nit_con w-full text-col_con hover:opacity-80"
            >
                Thursday
            </a>

            <a
                class="py-3 lg:pl-4 font-semibold lg:bg-col_nit_con w-full text-col_con hover:opacity-80"
            >
                Friday
            </a>

            <a
                class="py-3 lg:pl-4 font-semibold lg:bg-col_nit_con w-full text-col_con hover:opacity-80"
            >
                Saturday
            </a>
        </div>
    </div>
</div>
