.slider {
  .title-block {
    @include flex-row-center(space-between);
    width: 100%;
    padding: 1rem;
    padding-bottom: 3rem;
    .block-close {
      display: flex;
      align-items: center;
      background-color: $my-border-color;
      border-radius: 10px;
      padding: 0.6rem;
      .icon-close {
        width: 1rem;
      }
    }
  }

  // @include blur-block;
  background-color: $my-primary-color;
  @include flex-col-center(space-start, none);
  border-right: 1px solid $my-border-color;
  position: absolute;
  top: 0;
  left: -420px;
  height: 100vh;
  width: 420px;
  z-index: 150;
  transition: left 0.3s ease;
  a.link-mobile > img,
  a.active-link-mobile > img {
    width: 1.4rem;
    height: auto;
    margin-right: 1rem;
  }
}
