{% load static %}

<header
  class="fixed flex items-center border-b border-col_con/15 top-0 left-0 
  w-full z-50 min-h-16 bg-col_bas_mai/80 backdrop-blur-2xl"
>
  <main class="w-full mx-4 flex flex-row justify-between items-center">
    <div class="flex flex-row justify-between items-center">
      <c-others.logo />
      <nav class="flex flex-row">
        <c-navigation.menu />
        <c-navigation.drop-down-menu 
          button_name="Пользователь" 
          icon="user" 
          class="text-col_bright_3 ml-2"

            {% if request.user.is_authenticated %}
              :data="[{'name': 'Выйти', 'link': 'account_logout'}]"
            {% else %}
              :data="[
                    {'name': 'Войти', 'link': 'account_login'},
                    {'name': 'Регистрация', 'link': 'account_signup'}
                ]"
            {% endif %}
        />
      </nav>
    </div>

    <div class="hidden sm:block ml-2">
      <c-buttons.theme-toggle />
    </div>
    <div class="sm:hidden">
      <c-organism.mobile-menu />
    </div>
  </main>
</header>
