{% load static %}

<div class="flex flex-row items-center md:mx-4">
    <div {% if active == "ok" %}
        class="bg-col_bright_2/25 p-2 rounded-full"
        {% elif active == "no" %}
        class="bg-col_bright_1/25 p-2 rounded-full"
        {% endif %}
    >
        <img class=" w-4 h-4" src="{% static image %}" alt="" />
    </div>
<a
    href="{% url link %}"
    {% if active == "ok" %}
        class="text-col_bright_1 cursor-pointer
        mx-2 border-b-2 border-col_bright_1 pb-1"
    {% elif  active == "no" %}
        class="text-col_con cursor-pointer
        mx-2 pb-1 hover:text-col_bright_6"
    {% endif %} }
>
    {{ name }}
</a>
</div>
