// Breakpoints
$my-breakpoint-xs: 320px;
$my-breakpoint-sm: 576px;
$my-breakpoint-md: 768px;
$my-breakpoint-lg: 992px;
$my-breakpoint-xl: 1200px;
$my-breakpoint-xxl: 1400px;

// Colors
$my-primary-color: #181818;
$my-secondary-color: #0e0e38;
$my-accent-color: #ffffff;
$my-background-color: #000000;
$my-text-color: #f4f4f4;
$my-text-inverse: #7f92ff;
$my-border-color: rgba(210, 210, 210, 0.5);
$my-error-color: #3e1414;
$my-success-color: #7a1dcb;
$my-warning-color: #b58711;
$my-blur-color: rgba(14, 5, 48, 0.5);

// :root [data-theme="dark"] {
//   --my-primary-color: #181818;
//   --my-secondary-color: #0e0e38;
//   --my-accent-color: #ffffff;
//   --my-background-color: #000000;
//   --my-text-color: #f4f4f4;
//   --my-text-inverse: #7f92ff;
//   --my-border-color: rgba(255, 255, 255, 0.5);
//   --my-error-color: #3e1414;
//   --my-success-color: #7a1dcb;
//   --my-warning-color: #b58711;
//   --my-blur-color: rgba(14, 5, 48, 0.5);
// }

// :root [data-theme="light"] {
//   --my-primary-color: #3498db;
//   --my-secondary-color: #8d8d8d;
//   --my-accent-color: #e74c3c;
//   --my-background-color: #f8f9fa;
//   --my-text-color: #333333;
//   --my-text-inverse: #ffffff;
//   --my-border-color: rgba(0, 0, 0, 0.5);
//   --my-error-color: #ff5252;
//   --my-success-color: #8eb6e2;
//   --my-warning-color: #1100ff;
//   --my-blur-color: rgba(187, 178, 219, 0.5);
// }
