.footer {
  display: flex;
  background-color: var(--master-color);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.links{
  width: 500px;
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-color-contrast);
}

.symbol {

  height:29px;
}

