.info_block {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.container_info {
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color-contrast);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block_info_container {
    display: flex;
    width: 220px;
    height: 220px;
    background: var(--card-color);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.introduction_words_word_ru {
  width: clamp(20ch, 50%, 75ch);
}

.icon_img {
  filter: invert(1);
  height: 30px;
}
