.learn_new_words_block{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: var(--card-color);
  align-items: center;
}

.learn_new_words_block h1{
  margin: 22px;
  margin-top: 30px;
  color: var(--text-color)
}

.learn_new_words_block p {
  color: var(--text-color-contrast);
  margin: 40px;
  font-size: 22px;
}

.container_value_words {
  width: 100%;
  display: flex;
  border: none;
}

.next_learn_new_words {
  margin: 20px;
}

.next_learn_new_words a {
  background: var(--button-color);
  }

.value_words {
  background: var(--card-color-contrast);
  border: none;
  height: 140px;
  color: var(--text-color-contrast);
  width: 200px;
  margin: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  transition: .5s;
}

.value_words:hover {
  background: var(--hover-color);
  cursor: pointer;
}


.finish_text {
  color: var(--text-color-contrast);
  font-size: 33px;
  font-style: normal;
  font-weight: bold;
  padding: 30px
}
