.result_block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	background: var(--card-color);
	align-items: center;
	padding: 30px;
}

.result_block h1 {
	color: var(--text-color-contrast);
	margin: 30px;
}

.result_block form {
	width: 300px;
	overflow: hidden;
}
.result_block label {
	color: var(--text-color);
}

.result_block input {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;
	padding: 5px;
}

.button_result_true {
	background: var(--button-color);
	width: 100%;
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-contrast);
    border: 1px solid var(--text-color-contrast);
    font-size: 22px;
    transition: .5s;
    padding: 20px;
}

.button_result_true:hover {
	background-color: var(--hover-color);
    cursor: pointer;
}

/* .form_add_accum { */
.user_form_add_word_accum {
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_add_accum {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	flex-wrap: nowrap;
}

.user_form_label {
	display: none;
}

.errorlist {
	list-style-type: none;
}

/* revise_learned */
.response_result_user {
	color: white;
	font-size: 22px;
}

.response_result_user h4 {
	color: white;
}

.next_result {
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-contrast);
    background: var(--button-color);
    border: 1px solid var(--text-color-contrast);
    font-size: 22px;
    transition: .5s;
    padding: 20px;
}

.next_result:hover {
    background: var(--hover-color)
}

