.home_block_info {
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-color);
  margin-bottom: 20px;
}

.home_block_info h5 {
  color: var(--master-color);
  font-size: 18px;
  margin-bottom: 20px;
}

.block_card {
	display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}

.block_circle {
	position: relative;
	left: 0px;
	top: 0px;
    max-width: 29em;
    min-width: 29em;
}

.circle {
	opacity: 100%;
	display: inline-block;
    background: var(--master-color);
	border: 1px solid var(--master-color);
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.circle_red {
	opacity: 100%;
	display: inline-block;
	background: var(--mark-color);
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.info_list {
	display: flex;
	color: var(--text-color);
	padding-left: 50px;
	padding-top: 5px;
}
.list_circle_1_2 {
  color: #4b4c5e;
	display: flex;
  width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
}

.list_circle_1_2 p {
	color: var(--text-color);
	display: inline-block;
}

.circle_1 {
	opacity: 100%;
	display: inline-block;
	background: var(--master-color);
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: 5px;
  margin-right: 8px;
}

.circle_2 {
	opacity: 100%;
	display: inline-block;
	background: var(--mark-color);
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: 5px;
  margin-right: 8px;
}

.mb-3 input {
	background: none;
	border: none;
}

.words_translate_ru {
	color: var(--text-color);
	margin-top: 90px;
	font-size: 22px;
}

.circle_line_1 {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.circle_line_2 {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* ==== */

.chart_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.doughnut {
  width: 450px;
}

/* ==== */

.footer {
  display: flex;
  background-color: var(--master-color);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.links{
  width: 500px;
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-color-contrast);
}

.symbol {

  height:29px;
}


/* ==== */

.info_block {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.container_info {
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color-contrast);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block_info_container {
    display: flex;
    width: 220px;
    height: 220px;
    background: var(--card-color);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.introduction_words_word_ru {
  width: clamp(20ch, 50%, 75ch);
}

.icon_img {
  filter: invert(1);
  height: 30px;
}


/* ==== */

.learn_new_words_block{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: var(--card-color);
  align-items: center;
}

.learn_new_words_block h1{
  margin: 22px;
  margin-top: 30px;
  color: var(--text-color)
}

.learn_new_words_block p {
  color: var(--text-color-contrast);
  margin: 40px;
  font-size: 22px;
}

.container_value_words {
  width: 100%;
  display: flex;
  border: none;
}

.next_learn_new_words {
  margin: 20px;
}

.next_learn_new_words a {
  background: var(--button-color);
  }

.value_words {
  background: var(--card-color-contrast);
  border: none;
  height: 140px;
  color: var(--text-color-contrast);
  width: 200px;
  margin: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  transition: .5s;
}

.value_words:hover {
  background: var(--hover-color);
  cursor: pointer;
}


.finish_text {
  color: var(--text-color-contrast);
  font-size: 33px;
  font-style: normal;
  font-weight: bold;
  padding: 30px
}

/* ==== */


.root_container {
	display: flex;
	justify-content: center;
}

.container {
    width: 80%;
    height: 100%;
}

.block_window {
	margin-top: 120px;
}

/* Start Form correct word */
.form_correct_word {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.form_correct_word button {
    background: var(--button-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 400px;
    transition: .5s;
}

.form_correct_word button:hover {
    background: var(--hover-color);
}

/* ==== */


.nav_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-evenly;
	display: flex;
	background-color: var(--master-color);
	z-index: 50;
	-webkit-box-shadow: -1px 9px 11px -5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: -1px 9px 11px -5px rgba(34, 60, 80, 0.2);
	box-shadow: -1px 9px 11px -5px rgba(34, 60, 80, 0.2);
}

.nav {
  width: 80%;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.nav a {
  color: var(--text-color-contrast);
}

.logo h2 {
  color: var(--text-color-contrast);
}

.block_user {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.block_user a {
  color: var(--text-color-contrast);
}

.dropbtn {
  color: var(--text-color-contrast);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  padding: 16px;
  font-size: 16px;
  background: var(--master-color);
  border: none;
}

/* menu list  */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: var(--hover-contrast-color);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: var(--hover-contrast-color);}
.user_name {

    font-weight: bold;
}

/* ==== */


.progressbar { 
	height: 20px;
	position: relative;
	background: #b7c5d1;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-bottom: 10px;
}

.progressbar > span {
  display: block;
  height: 100%;
  background-color: #69bfbb;
  position: relative;
  overflow: hidden;
}

/* ==== */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--mark-color);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--master-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--mark-color);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 100%;
  text-align: center;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.block_reading {
    background: var(--card-color);
    width: 100%;
    height: 300px;
    color: var(--text-color-contrast);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.text_block {
    width: 80%;
}

.text_block p {
    margin-top: 10px;
}


.title  {
    color: var(--text-color);
    margin-bottom: 20px;
}


.link_next {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.link_next a {
  color: var(--text-color-contrast);
  background-color: var(--button-color);
  margin: 23px;
  padding: 20px;
}


.link_next a:hover {
  background-color: var(--hover-color);
  transition: 0.6s ease;
}

.title_reading_sentences {
  color: var(--text-color);
  margin-bottom: 50px;
}

/* ==== */

.login_form{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 200px;
  margin-bottom: 200px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

.login_form_container form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.button_login {
  background: var(--button-color);
  border: none;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  width: 100%;
  transition: .5s;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button_login:hover {
    background: var(--hover-color);
    cursor: pointer;

}

.login_form_input {
    margin-bottom: 20px;
    margin-top: 20px;
	display: block;
	width: 400px;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
	line-height: 1.5;
	color: #52565b;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: 0px;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    

}

.form_error_login {
	display: block;
	width: 400px;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #52565b;
	background-clip: padding-box;
	appearance: none;
	border-radius: 0px;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}


.errorlist {
    list-style-type: none;
    color: red;
}


/* ==== */


html {
	background: var(--background-color);
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
  font-family: 'Ubuntu', sans-serif;
  max-width: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,
img {
	border: 0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

/* h1,h2,h3,h4,h5, */
/* h6 { */
/* 	font-size:100%; */
/* 	font-weight:normal; */
/* } */

q:before,
q:after {
	content: '';
}
abbr,
acronym {
	border: 0;
	font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-size: 100%; /*to enable resizing for IE*/
}
/*because legend doesn't inherit in IE */
legend {
	color: #000;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

:root {
  --background-color: #bbd0e4;
  --master-color: #4170c7;
  --text-color: #4d4d5a;
	--text-color-contrast: rgb(255, 255, 255);
	--card-color: #6c98be;
	--card-color-contrast:#445b85 ;
	--mark-color: red;
	--button-color: #697ce2;
	--hover-color: rgb(57, 112, 109);
	--hover-contrast-color: #738ec0;
}

/* ==== */

.result_block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	background: var(--card-color);
	align-items: center;
	padding: 30px;
}

.result_block h1 {
	color: var(--text-color-contrast);
	margin: 30px;
}

.result_block form {
	width: 300px;
	overflow: hidden;
}
.result_block label {
	color: var(--text-color);
}

.result_block input {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;
	padding: 5px;
}

.button_result_true {
	background: var(--button-color);
	width: 100%;
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-contrast);
    border: 1px solid var(--text-color-contrast);
    font-size: 22px;
    transition: .5s;
    padding: 20px;
}

.button_result_true:hover {
	background-color: var(--hover-color);
    cursor: pointer;
}

/* .form_add_accum { */
.user_form_add_word_accum {
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_add_accum {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	flex-wrap: nowrap;
}

.user_form_label {
	display: none;
}

.errorlist {
	list-style-type: none;
}

/* revise_learned */
.response_result_user {
	color: white;
	font-size: 22px;
}

.response_result_user h4 {
	color: white;
}

.next_result {
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-contrast);
    background: var(--button-color);
    border: 1px solid var(--text-color-contrast);
    font-size: 22px;
    transition: .5s;
    padding: 20px;
}

.next_result:hover {
    background: var(--hover-color)
}

/* ==== */


/* Settings */
.settings_container {
  display: flex;
  background: var(--card-color);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  font-weight: bold;
}
.settings {
  display: flex;
  height: 600px;
  font-size: 15px;
  text-transform: uppercase;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;

}


.line_settings_container {
  margin-top: 20px;
}
.line_settings {
    display: flex;
    justify-content: space-between;
}

.line_settings input {
    border: none;
    width: 300px;
    margin-left: 8px;
}

.settings_buttom {
    margin-top: 1em;
    background-color: var(--mark-color);
    color: ;
    border-radius: 0px;
    padding: 10px;
    margin-right: 30px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    transition: .5s;
}

.settings_buttom:hover { 
    background-color: var(--hover-color);

}

.info_message_settings {
    margin-top: 4em;
}


.resetting_dictionaries {
    margin-top: 3em;
}
.resetting_dictionaries a {
    margin-top: 1em;
    background-color: var(--mark-color);
    color: var(--text-color-contrast);
    border-radius: 0px;
    padding: 10px;
    transition: .5s;
}

.resetting_dictionaries a:hover {
    background-color: var(--hover-color);
}


/* resetting dictionaries */
.resetting_button {
    margin-top: 1em;
    background-color: var(--mark-color);
    color: var(--text-color-contrast);
    border-radius: 0px;
    padding: 10px;
    margin-right: 30px;
    font-size: 15px;
    text-transform: uppercase;
}


.nav-link {
    color: var(--mark-color);
    font-weight: bold;
}


.next_learn_new_words {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.next_learn_new_words a {
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-contrast);
    background: transparent;
    border: 1px solid var(--text-color-contrast);
    font-size: 22px;
    transition: .5s;
    padding: 20px;
}

.next_learn_new_words a:hover {
    background: var(--hover-color);
}

/* ==== */



