<template x-data="{ activeClick : false }" x-if="isOpenGame">
  <main
   :class="{ 'border border-col_attn': activeClick === true }"
   class="w-4xl h-[400px] mx-auto bg-col_bas_mai rounded-lg p-6 text-center flex flex-col justify-between drop-shadow-xl/25 z-50">
    <!-- Title -->
    <div class="mb-4">
      <!-- Слово которое нужно угадать -->
      <h4 class="correct_word text-4xl font-semibold text-col_con_inv border border-col_con/20 p-4 rounded-lg">{{ correct_word_ru }}</h4>
    </div>
    <!-- Buttons -->
    <div>
      <!-- Контейнер в который будут вставляться кнопки -->
      {% for btn in mixer_words %}
        <button  
            @click="activeClick = {{btn.option}}"
            type="button" 
            class="word_btn px-4 py-2 border border-col_suc 
            text-col_suc rounded hover:bg-col_suc_mai transition cursor-pointer 
            fill-col_suc drop-shadow-lg drop-shadow-col_suc/50">
            {{ btn.en }}
          </button>
      {% endfor %}
    </div>
  </main>
</template>
