<div x-data="{
    buttonFalse() {
        this.highlightActiveRed = true;
        setTimeout(() => {
            this.$dispatch('load-next')
        }, 1000)
    },
    buttonTrue() {
        this.highlightActiveGreen = true;
        setTimeout(() => {
            this.answer = 'yes'
        }, 1000)
    }
}">
    <button
        type="button"
        @keydown.{{key}}.prevent.window="handleButton()"
        {% if option %}
            @click="buttonFalse()"
        {% else %}
            @click="buttonTrue()"
            hx-get="{% url 'game' %}"
            hx-trigger="load-next"
            hx-target="#game-main"
            hx-swap="outerHTML"
        {% endif %}
        class="{{class}} flex flex-wrap my-8 justify-center gap-4 px-4 py-2 
                border cursor-pointer word_btn 
                rounded transition drop-shadow-lg 
                drop-shadow-col_suc/50 mx-2"
    >
        {{ content }}
        <p class="absolute -bottom-10 text-col_bright_2">{{ key }}</p>
    </button>
</div>
