<main x-data="{ slideWidth: 896, currentPosition: 0, currentSlide: 1, quantityCards: '{{ phrases|length }}', ru: true }"
  :style="{width: slideWidth + 'px'}" class="w-4xl h-[400px] mx-auto bg-col_bas_mai rounded-lg text-center 
            flex-col justify-between border border-col_con/15
          fill-white drop-shadow-xl/25 z-0">

  <div class="w-full h-full flex flex-col">
    <c-pages.game.read-container.title />

    <div class="h-full w-full relative overflow-hidden flex flex-col justify-end">

      <div class="h-full w-full absolute flex flex-row transition-all duration-300"
        :style="{left: - currentPosition + 'px'}">
        {% for i in phrases %}
          <c-pages.game.read-container.content />
        {% endfor %}
      </div>


      <div class="w-full flex flex-row justify-between mb-6 px-4">
          <c-pages.game.read-container.button-circle 
            icon="arrow-long-left" 
            @click="currentPosition > 0 && (currentPosition -= slideWidth, currentSlide--)"/>
          <c-pages.game.read-container.button-translate
            @click="ru = !ru"
          />
          <c-pages.game.read-container.button-circle 
            icon="arrow-long-right"
            @click="currentSlide != quantityCards && (currentPosition += slideWidth, currentSlide++)"
            x-show="currentSlide != quantityCards"
          />

      <form x-show="currentSlide == quantityCards" hx-post="{% url 'game' %}" 
          hx-target="#game-main"
          hx-swap="innerHTML">
          {% csrf_token %}
          <c-pages.game.read-container.button-done  />
      </form>

      </div>

    </div>

  </div>
</main>