{% extends 'base.html' %}
{% load TagWords %}
{% load static %}

{% block content %}
  <div class="text-6xl font-bold text-col_con mb-8">Все слова</div>

  {% include 'includes/running_line.html' %}

  <div class="text-6xl font-bold text-col_con mb-8 mt-28">Ваши настройки</div>

  <!-- Card -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
    {% for sd in services_data %}
      {% card sd.name sd.description sd.data %}
    {% endfor %}
  </div>

  {% if request.user.is_authenticated %}
    {{ chart_date|json_script:'chart-data' }}

    <!-- Charts -->
    {% include 'components/tabs/tab_line.html' with btn='Неделя-1,Месяц-2,Год-5' %}

    {% include 'includes/home/charts/chart.html' with tab='tab1' id='myChartWeek' %}
    {% include 'includes/home/charts/chart.html' with tab='tab2' id='myChartMonth' class='hidden' %}
    {% include 'includes/home/charts/chart.html' with tab='tab5' id='myChartYear' class='hidden' %}
    <!-- End Charts -->
  {% endif %}

  {% include 'includes/home/about.html' %}
{% endblock %}
