{% extends 'core/base.html' %} {% load TagWords %} {% block content %}

<div class="container bg-body-tertiary mt-xl-5 border rounded-2 p-3">
  <div class="list-group">
    {% for d in db %}
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ d.word_en }}</h5>
        <small class="text-muted">{{ d.created }}</small>
      </div>
      <p class="mb-1">{{ d.word_ru }}</p>
      <small class="text-muted">{{ d.transcription }}</small>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
