.button-1 {
  @include shadow;
  background-color: $my-warning-color;
  color: $my-text-color;
  padding: 1rem;
  margin: 2rem;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover {
    background-color: $my-success-color;
  }
}
