.nav-link,
.nav-link-active,
.show-link,
.list-link {
  color: var(--my-text-color);
  transition: all 0.3s;
  font-weight: 500;
}

/* Стили для навигационных ссылок */
.nav-link {
  @include flex-row-center;
  color: $my-text-color;
  margin: 1rem;
  &:hover {
    opacity: 0.7;
    border-bottom: 1px solid $my-text-color;
  }
}

/* Стили для активной навигационной ссылки */
.nav-link-active {
  color: $my-text-color;
  margin: 1rem;
  border-bottom: 1px solid $my-text-color;
}

/* Стили для ссылок шоу */
.show-link {
  display: flex;
  align-items: center;
  color: $my-text-color;
  margin: 1rem;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

/* Стили для ссылок в списках */
.list-link {
  color: $my-text-color;
  border-bottom: 2px solid transparent;
  opacity: 0.8;
  margin: 0.4rem;
  &:hover {
    border-bottom-color: var(--my-border-color);
    opacity: 1;
  }
}

.link-mobile {
  @include flex-row-center(space-start);
  width: 100%;
  flex-direction: row;
  font-size: large;
  color: $my-text-color;
  border-bottom: 1px solid $my-border-color;
  padding: 0.6rem;
}

.active-link-mobile {
  @include flex-row-center(space-start);
  width: 100%;
  flex-direction: row;
  font-size: large;
  color: $my-text-inverse;
  border-bottom: 1px solid $my-border-color;
  padding: 0.6rem;
}
