@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin shadow {
  box-shadow: 0 8px 24px 0 rgba(73, 73, 73, 0.2);
}

@mixin flex-row-center($jc: space-between) {
  display: flex;
  justify-content: $jc;
  align-items: center;
  flex-direction: row;
}

@mixin flex-col-center($jc: space-between, $dy: flex) {
  display: $dy;
  justify-content: $jc;
  align-items: flex-start;
  flex-direction: column;
}

@mixin fixed-top-left {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
}

@mixin blur-block {
  background-color: $my-blur-color;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@mixin bottom-shadow-border {
  border-bottom: 1px solid $my-border-color;
  box-shadow: 0 2px 4px rgba(185, 185, 185, 0.1), 0 4px 8px rgba(229, 219, 219, 0.1);
}

@mixin beating {
  transition: transform 0.3s ease;
  &:hover {
    animation: heartbeat 1s infinite;
  }

  // Keyframes for heartbeat animation
  @keyframes heartbeat {
    // Starting state - normal size
    0% {
      transform: scale(1);
    }
    // First pulse - increase size by 10%
    25% {
      transform: scale(1.1);
    }
    // Return to normal size
    50% {
      transform: scale(1);
    }
    // Second pulse - increase size by 10%
    75% {
      transform: scale(1.1);
    }
    // End state - return to normal size
    100% {
      transform: scale(1);
    }
  }
}
