<!-- {% load static %}

<div
  id="mobile-menu"
  class="sm:hidden transition-all fixed w-80 z-50 top-0 -left-80 bg-col_nit_con h-dvh box-border flex flex-col overflow-hidden"
>
  <div class="p-4 pb-6 flex flex-row items-center justify-between">
    {% include 'includes/header/logo.html' %}
    <span id="close-mobile-menu" class="bg-col_suc_mai p-2 rounded-full">
      <img class="w-6 h-6 cursor-pointer" src="{% static 'icons/close.png' %}" alt="" />
    </span>
  </div>

  <div class="flex-1 overflow-y-auto">
    {% for m in menu %} {% if request.resolver_match.url_name == m.url_name %}
    <div class="flex flex-row items-center p-4">
      <img class="w-4 h-4 mr-4" src="{% static m.img_name %}" alt="{{ m.name }}" />
      <a class="text-col_con text-xl" href="{% url m.url_name %}">{{ m.name }}</a>
    </div>
    {% else %}
    <div class="flex flex-row items-center p-4">
      <img class="w-4 h-4 mr-4" src="{% static m.img_name %}" alt="{{ m.name }}" />
      <a class="text-col_con text-xl" href="{% url m.url_name %}">{{ m.name }}</a>
    </div>
    {% endif %} {% endfor %} {% if request.user.is_authenticated %}
    <div class="p-4">
      <a class="text-col_con text-xl" href="{% url user_menu.0.url_name %}">{{ user_menu.0.name }}</a>
    </div>
    {% else %}
    <div class="p-4">
      <a class="text-col_con_inv text-xl font-bold" href="{% url user_menu.1.url_name %}"
        >{{ user_menu.1.name}}</a
      >
    </div>
    <div class="p-4">
      <a class="text-col_con_inv font-bold text-xl" href="{% url user_menu.2.url_name %}"
        >{{ user_menu.2.name }}</a
      >
    </div>
    {% endif %}
  </div>
</div>
 -->
