{% load static %} 
{% load TagWords %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>
		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="{% static 'words/css/main.css' %}" />
    <link rel="shortcut icon" href="{% static 'words/icon/favicon.png' %}" type="image/x-icon">

	</head>

	<body>
		<div class="root_container">
			<div class="container">
				<div class="nav_container">
					<div class="nav">
						<a href="{% url 'home' %}" class="logo"><h2>WORDS1000</h2></a>

    <!-- menu -->
    <!-- <div class="dropdown"> -->
      <!-- <button class="dropbtn">Menu</button> -->
          <!-- <div class="dropdown-content"> -->
        {% for m in menu %} 
          {% if m.url_name == select %}
            <a style="font-weight: bold" href="{% url m.url_name %}" class="dropdown-item">{{ m.title }}</a>
          {% else %}
            <a href="{% url m.url_name %}" class="dropdown-item">{{m.title}}</a>
          {% endif %} 
        {% endfor %}
      <!-- </div> -->
    <!-- </div> -->
    <!-- end menu -->

    {% if request.user.is_authenticated %}
      <a href="{% url 'home' %}" class="user_name">{{user.username}}</a>
      <a href=" {% url 'logout' %} ">Выход</a>
    {% else %}
      <div class="block_user">
      <a href=" {% url 'register' %}">Регистрация</a>
        <a href=" {% url 'login' %}">Войти</a>
      </div>
    {% endif %}
            </div>
        </div>

        {% block content %} 
        {% endblock %}
    </div>
    </div>
    {% footer %}
    <script src="{% static 'words/js/menu.js' %}"></script>
	</body>
</html>
