{% extends 'words/base.html' %}

{% block content %}

<div class="text_info">
    <p>Так выглядит 1000 слов, на вид, совсем не много.</p>
</div>

<div class="line_monitor"></div>
    <div class="card_user">
        <div class="block_circle">
            {% for words in words_counter_home %}
                {% if words == ' ' %}
                    <div class="circle_red">{{words}}</div>
                    
                {% else %}
                    <div class="circle"> {{words}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

<div class="info_list">
    <div class="list_circle_1_2">
        <p><div class="circle_1"></div>  Слова, которые вы уже выучили</p>
        <p><div class="circle_2"></div>  Слова, которые еще предстоит выучить</p>
        
    </div>
</div>


{% endblock %}
