{% extends 'words/base.html' %}
{% load static %} 
{% block content %}


    <div class="block_window">
        {% if check_congratulation == 'on' %}
            <h1 class="title">{{result_word}}h1>
            <a href="{% url 'learn_new_words' %}">Продолжить</a>
        {% else %}
            <h1 class="title">Осталось - {{total_words}}</h1>
            <a href="{% url 'learn_new_words' %}">Продолжить</a>
            {% endif %}
    </div>

    {% if check_congratulation == 'on' %}
        <h1>Потренируйтесь в чтении</h1>

<div class="slideshow-container">
{% for ps in phrases_set %}
  <div class="mySlides fade">
    <div class="block_reading">
        <div class="text_block">
        <h1>{{ps.en}}</h1>
        <p>{{ps.ru}}</p>
    </div>
    </div>
  </div>
{% endfor %}
    {% else %}
        <h1{{number.number_words}} слов!!!</h1>
    {% endif %}






<!-- Slideshow container -->

  <!-- Full-width images with number and caption text -->

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    {% for num in phrases_set %}
    <span class="dot" onclick="currentSlide({{num.num}})"></span>
    {% endfor %}
</div>

 
<script src="{% static 'words/js/reading_sentences.js' %}"></script>

{% endblock %}
