{% extends 'words/base.html' %}
{% block content %}
{% if user_result != 'ok' %}
<div class="block_window">
    <div class="learn_new_words_block">
        {% if check_true_list >= 10 %}
            {% if response_result %}
            <h1>{{response_result}}, правильный ответ <h4>{{word}}</h4>
        {% else %}
            <h1>Выберите правильное слово из четырех представленных</h1>
            <p class="words_translate_ru">{{word_accum_object.word_ru}}</p>
        {% endif %}
    <div class="next_learn_new_words">
    <a href="{% url 'revise_learned' %}">Продолжить</a>
    </div>
{% else %}
    <h1>Повторить слова вы сможете только тогда, когда у вас накопится более 10 угаданных слов. сейчас у вас - {{check_true_list}} слов.</h1>
{% endif %}

{% if not response_result %}
<form method="post">
{% csrf_token %}
{% for random in random_words %}
    <input class="value_words" type="submit" value="{{random}}" name="{{random}}">
{% endfor %}
</form>
{% endif %}

{% else %}
    <h1>Потренируйтесь в чтении</h1>
    {% for ps in phrases_set %}
        <h5>{{ps.en}}</h5>
        <p>{{ps.ru}}</p>
    {% endfor %}
        <a href="{% url 'revise_learned' %}">Продолжить</a>
        <a href="{% url 'revise_learned' %}">Продолжить</a>
    </div>
</div>
{% endif %}
{% endblock %}
