{% extends 'base.html' %} {% block content %} {% load static %}
<div class="content container">
  <div class="login-form">
    <form action="POST">
      <div class="title-xxl">Вход</div>
      {% csrf_token %} {% if form.errors %}
      <div class="alert">
        {% for field.errors in form.errors.items %} {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %} {% endfor %}
      </div>
      {% endif %}
      <div class="form-group">
        <label class="form-style" for="{{form.username.id_for_label}}">{{ form.username.label }}</label>
        <div class="input-style"><img src="{% static 'icons/user.png' %}" alt="" />{{ form.username }}</div>
      </div>
      <div class="form-group">
        <label class="form-style" for="{{ form.password.id_for_label}}">{{ form.password.label }}</label>
        <div class="input-style"><img src="{% static 'icons/password.png' %}" alt="">{{ form.password}}</div>
      </div>
      <button class="button-1" type="submit">Войти</button>
    </form>
  </div>
</div>
{% endblock content %}
