{% extends 'base.html' %} {% block content %}

<div class="h-full flex flex-col items-center justify-center">
  <form method="post" action="">
    {% csrf_token %}
    <div class="relative w-80 dark-card rounded-lg p-5 text-center shadow-xl bg-col_bas_ave">
      {{ form.non_field_errors }}

      <h2 class="text-col_con mb-5 text-2xl font-semibold">РЕГИСТРАЦИЯ</h2>

      {% for field in form %}
      <div class="mb-4 text-left">
        <label class="block text-sm text-col_con_inv mb-1" for="{{ field.id_for_label}}">
          {{ field.label_tag }}
        </label>

        {{ field }} {% if field.errors %}
        <ul class="errorlist">
          {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
      {% endfor %}

      <button
        class="w-full p-2.5 bg-col_nit_con text-col_con rounded-full font-bold mt-2.5 cursor-pointer hover:bg-col_nit transition-colors duration-200">
        ВОЙТИ
      </button>

      <div class="mt-2.5 text-sm flex justify-between items-center">
        <a href="{% url 'users:login' %}" class="text-col_suc hover:text-col_suc_ave transition-colors">ВОЙТИ</a>
        <a href="#" class="text-col_suc hover:text-col_suc_ave transition-colors">ЗАБЫЛИ ПАРОЛЬ</a>
      </div>
    </div>
  </form>
</div>

{% endblock %}
