{% load static %}
{% load TagWords %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    {% include 'includes/fonts_styles.html' %}

    <link rel="shortcut icon" href="{% static 'words/icon/favicon.png' %}" type="image/x-icon" />
  </head>

  <body>
    <div class="root_container">
      <div class="container">
        {% include 'includes/header.html' %}

        {% block content %}

        {% endblock %}
      </div>
    </div>

    {% footer %}
    {% include "includes/footer.html" %}
    <script src="{% static 'words/js/menu.js' %}"></script>
  </body>
</html>
