{% extends 'base.html' %}

{% block content %}
<div class="block_window">
    <div class="login_form">

        <div class="login_form_container">
            <form method="post">
                {% csrf_token %}

            <div class="form_error_login">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <label class="form_label_login" for="{{f.id_for_label}}">{{f.label}}</label><p>{{f}}</p></label>
            <div class="form-error">{{f.errors}}</div>
            {% endfor %}
            <button class="button_login" type"submit">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
