{% extends 'base.html' %}

{% block content %}
  <div class="block_window">
    <div class="settings_container">
      <div class="settings">
        <form action="{% url 'settings' %}" method="post">
          {% csrf_token %}

          <div class="form-error">{{ form.non_field_errors }}</div>
          {% for f in form %}
            <div class="line_settings_container">
              <p class="line_settings">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
                {{ f.errors }}
              </p>
            </div>
          {% endfor %}
          <button class="settings_buttom" type="submit">Сохранить</button>
        </form>

        <div class="info_message_settings">Так же вы можете сбросить весь прогресс словаря и начать свой путь заново...</div>
        <div class="resetting_dictionaries">
          <a href="{% url 'resetting_dictionaries' %}">Сброс прогресса словаря</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
