<form x-data="{open: false}" class="flex flex-col sm:flex-row gap-2 items-start sm:items-center">
    <div class="relative cursor-pointer py-2">
      <!-- Button -->
      <div @click="open =! open" class="flex items-center justify-between 
      space-x-5 px-4 rounded-lg border border-col_con_inv/15 w-full">
        <span class="my-2 py-2 text-base font-bold text-col_con lg:mx-4">
          {{ btn }}
        </span>
        <c-others.icon icon="chevron-double-down" class="text-col_bright_3 w-6 h-6" />
      </div>

      <div
      x-show="open"
      @click.outside="open = false"
      x-transition
       class="absolute z-50 flex w-full flex-col bg-col_bas_mai 
          rounded-lg py-1 px-4 shadow-xl group-hover:visible 
          border border-col_con_inv/15 mt-3.5">
        <!-- Link All Statuses -->
        <c-links.link-simple
          :custom_link="True"
          :active="{% if status == value %}True{% else %}False{% endif %}"
          link="?"
          name="Все статусы"
        />
        {% for value, label in list_status %}
          <c-links.link-simple
            :custom_link="True"
            :active="{% if status == value %}True{% else %}False{% endif %}"
            link="?status={{ value }}"
            name="{{ label }}"
          />
        {% endfor %}
      </div>
    </div>
</form>
