{% load static %}
{% load TagWords %}

<!doctype html>
<html data-theme="dark" lang="ru">
    <head>
        <link href="{% static 'dist/styles.css' %}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="{% static 'icons/favicon.png' %}"
            type="image/x-icon"
        />
        <meta charset="utf-8" />
        {% if title  %}
            <title>{{ title }}</title>
        {% else %}
        <title>
            {% block head_title %}
            {% endblock %}
        </title>
        {% endif %}
    </head>

    <body

        class="bg-col_bas_mai font-Roboto-MyFont min-w-full overflow-x-hidden"
    >
        {% include 'components/header/header.html' %}
        <div
            class="mx-auto w-full max-w-full px-4 sm:px-6 lg:px-8 py-6 overflow-x-hidden flex flex-row justify-center"
        >
            <!--Content-->
            <main class="w-[1200px] overflow-x-auto mt-50 mb-96">
                {% block content %} {% endblock %}
            </main>
        </div>

        {% footer %}
    </body>
    <script src="{% static 'js/alpine.min.js' %}"></script>
    <script src="{% static 'js/chart.umd.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
</html>
