@import "./base/reset";
@import "./base/variables";
@import "./base/utilities";
@import "./components/mixins";
@import "./components/link";

@import "./layouts/header";

.container {
  margin-left: 4rem;
  margin-right: 4rem;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto_SemiCondensed-Regular.ttf") format("ttf");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $my-background-color;
}

.content {
  padding {
    top: 8rem;
    background-color: blue;
  }
}
