{% load core_filters %}

<div class="w-full border border-col_con/15 rounded-lg p-6">
    <!-- Tab Buttons -->
    <div class="flex justify-center space-x-4">
       {% block button %}
           {% for item in btn|list_variable %}
               {% include 'components/button/tab_button.html' with name=item.0 fun='tab'|add:item.1  %}
           {% endfor %}
        {% endblock button %}
    </div>
</div>


<script>
    function showTab(tabId) {
        // Hide all tab content
        const tabContents = document.querySelectorAll(".tab-content");
        tabContents.forEach((content) => {
            content.classList.add("hidden");
        });

        // Show the selected tab content
        const selectedTab = document.getElementById(tabId);
        if (selectedTab) {
            selectedTab.classList.remove("hidden");
        }

        // Remove the 'active' class from all tab buttons
        const tabButtons = document.querySelectorAll(".tab-button");
        tabButtons.forEach((button) => {
            button.classList.remove("bg-col_att_base");
        });

        // Add the 'active' class to the clicked tab button
        const clickedButton = document.querySelector(
            `[onclick="showTab('${tabId}')"]`,
        );
        if (clickedButton) {
            clickedButton.classList.add("bg-col_att_base");
        }
    }

    // Initialize the first tab
    showTab("tab1");
</script>
