{% extends 'base.html' %} {% load TagWords %} {% block content %}
<div
  x-data="{ activeTab: 'tab1' }"
  class="w-full border border-col_con/15 rounded-lg p-6"
>
  <!-- Tab Buttons -->
  <div class="flex justify-center space-x-4">
    <c-tabs.tab-line
      :content="[
        {'btn': 'Список слов', 'num': 1},
        {'btn': 'Катрочки', 'num': 2},
    ]"
    />
  </div>

  <!-- Tab Content -->
  <div x-show="activeTab === 'tab1'" class="p-4 rounded-lg">
    <c-pages.words.list-word />
  </div>

  <div x-show="activeTab === 'tab2'" class="p-4 rounded-lg">
    <c-cards.card-flip
      content="{{ page_obj }}"
      front_button="Перевернуть"
      back_button="Назад"
    />
  </div>
</div>

{% endblock content %}
