<div class="block_window">
  <div class="about_block">
    <img class="about_img" src="{% static 'words/img/about.jpg' %}" alt="" />

    <div class="text_about">
      <h3 class="about_us_logo">О нас</h3>
      <h1 class="welcom_about">Добро пожаловать в Words1000</h1>
      <p class="text_about_1">
        Здесь вы сможете изучить 1000 слов, которая составляют необходимую словарно-лексическую базу любого человека
      </p>
      <p class="text_about_2">
        Выше был представлен график прогресса в виде белых точек, как вы уже догадались их там ровно тысяча. Белые точки
        это те слова которые вы еще не выучили а зеленые которые вы уже знаете.
      </p>
      <div class="about_list">
        <p>
          <img class="list_icon" src="{% static 'words/icon/check.png' %}" alt="" />
          Повысите словарный запас
        </p>
        <p>
          <img class="list_icon" src="{% static 'words/icon/check.png' %}" alt="" />
          Начнете читать литературу на английском
        </p>
        <p>
          <img class="list_icon" src="{% static 'words/icon/check.png' %}" alt="" />
          Расширите кругазор досуга
        </p>
        <p>
          <img class="list_icon" src="{% static 'words/icon/check.png' %}" alt="" />
          Снимите рамки в учебе
        </p>
        <p>
          <img class="list_icon" src="{% static 'words/icon/check.png' %}" alt="" />
          Найдете работу мечты
        </p>
        <p>
          <img class="list_icon" src="{% static 'words/icon/check.png' %}" alt="" />
          Удивите колег
        </p>
      </div>
    </div>
  </div>
</div>