{% load static %}

<div class="container bg-light mt-xl-5 border rounded-2 p-3">
  <div class="row">
    <div class="col">
      <img class="img-fluid rounded-2 shadow-sm w-75" src="{% static 'img/about.jpg' %}" alt="" />
    </div>
    <div class="col">
      <figure class="text-end">
        <blockquote class="blockquote">
          <p>Добро пожаловать на сервис изучения английского языка.</p>
          <h5>Words1000</h5>
        </blockquote>
        <figcaption class="blockquote-footer my-3">
          Здесь вы сможете изучить 1000 слов, которая составляют необходимую словарно-лексическую базу любого человека
        </figcaption>
        <figcaption class="blockquote-footer my-3">
          Пройдите регистрацию и настройте тренажер под себя и свои возможности
        </figcaption>
        <figcaption class="blockquote-footer my-3">Проходите тесты каждый день, это даст лучший результат</figcaption>
      </figure>
    </div>
  </div>
</div>
