  <!-- Контейнер для 3D-эффекта -->
  <div class="flip-card w-64 h-86 m-8 perspective-1000">
    <!-- Внутренний контейнер -->
    <div class="flip-card-inner relative w-full h-full transition-transform duration-700 transform-style-preserve-3d">
      <!-- Передняя сторона -->
      <div class="flip-card-front absolute w-full h-full backface-hidden border border-col_con/15 rounded-xl shadow-lg p-6 flex flex-col justify-center items-center">
        <h3 class="text-3xl font-bold text-col_con_inv mb-2">{{name.word_en}}</h3>
        {% include "components/button/button.html" with name="Перевернуть" %}
      </div>

      <!-- Задняя сторона -->
      <div class="flip-card-back absolute w-full h-full
          backface-hidden bg-gradient-to-br from-col_suc to-col_suc_mai
          text-col_con rounded-xl shadow-lg p-6 flex flex-col
          justify-center items-center transform rotate-y-180 border border-col_con/15">
        <h3 class="text-2xl font-bold mb-2">Ответ</h3>
        <p class="text-center">{{name.word_ru}}</p>
        {% include 'components/button/button_light.html' with name='Назад' %}
      </div>
    </div>
  </div>

  <style>
    /* Кастомные классы для 3D-эффектов */
    .perspective-1000 {
      perspective: 1000px;
    }

    .transform-style-preserve-3d {
      transform-style: preserve-3d;
    }

    .backface-hidden {
      backface-visibility: hidden;
    }

    .rotate-y-180 {
      transform: rotateY(180deg);
    }

    /* Класс для переворота */
    .flipped {
      transform: rotateY(180deg);
    }
  </style>
