{% partialdef card_info %}
<div class="w-full mt-4 mx-auto bg-gradient-to-br from-col_bas_hig to-col_bas_mai rounded-lg border border-col_con/15">
  <div class="px-6 py-5">
    <div class="flex items-start">
      <div class="flex-grow truncate">
        <div class="w-full sm:flex justify-between items-center mb-3">
          <h2 class="text-1xl leading-snug font-extrabold text-col_con_inv truncate mb-1 sm:mb-0">{{ item.serve.name }}</h2>
         {% include "components/icons/icon.html" with icon=item.icon class=item.icon_class %}
        </div>
        <a href="" class="bg-col_bright_4/25 px-4 py-2 font-light text-xs rounded-lg text-col_con">ПОСМОТРЕТЬ</a>
        <div class="flex items-end justify-between whitespace-normal mt-4">
          <div class="max-w-md text-indigo-100">
            <p class="mb-2">{{ item.serve.description }}:</p>
          </div>
        </div>
        <div class="flex items-center ml-4">
          <span class="text-2xl font-bold text-col_con">{{ item.serve.data }}</span>
        </div>
      </div>
      <div class="flex flex-col mt-auto gap-[10px]">

        </button>
      </div>
    </div>
  </div>
</div>
{% endpartialdef %}